.newList {
  background: #002651;

  display: flex;
  align-items: center;

  padding: 10px 20px;
  border-radius: 6px;
  width: 260px;
  height: 40px;
  margin-top: 20px;

  cursor: pointer;

  &-text {
    margin: 0;
    margin-left: 15px;

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #fff;
  }
}
