@import "../../styles/index.scss";

.btn {
  user-select: none;
  border: 0;
  padding: 2px 17px;
  border-radius: 6px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  outline: none;
  cursor: pointer;
  font-weight: bold;

  &-primary {
    background-color: #482ff7;
    color: #fff;

    border: 0px solid;
  }

  &-success {
    background-color: #28a745;
    color: #fff;

    border: 0px solid;
  }

  &-warning {
    background-color: #ffc107;
    color: #111;

    border: 0px solid;
  }
  &-danger {
    background-color: #ff304f;
    color: #fff;

    border: 0px solid;
  }
  &-info {
    background-color: #007bff;
    color: #fff;

    border: 0px solid;
  }

  &-dark {
    background-color: #111;
    color: #fff;

    border: 0px solid;
  }
  &-light {
    background-color: #f8f9fa;
    color: #111;

    border: 0px solid;
  }
}
