.card {
  background-color: #fff;
  padding: 10px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;

  margin-bottom: 8px;
  margin-right: 10px;

  &-text {
    padding: 0px;
    margin: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  &-color {
    display: flex;
    align-items: center;

    &-red {
      background: #ff304f;

      width: 20px;
      height: 10px;

      border-radius: 10px;
      margin-bottom: 7px;
      margin-right: 5px;
    }

    &-blue {
      background: #007bff;

      width: 20px;
      height: 10px;

      border-radius: 10px;
      margin-bottom: 7px;
      margin-right: 5px;
    }

    &-yellow {
      background: #ffc107;

      width: 20px;
      height: 10px;

      border-radius: 10px;
      margin-bottom: 7px;
      margin-right: 5px;
    }

    &-green {
      background: #28a745;

      width: 20px;
      height: 10px;

      border-radius: 10px;
      margin-bottom: 7px;
      margin-right: 5px;
    }
  }
}
