.card {
  background-color: #fff;
  padding: 10px 10px;

  border-radius: 8px;

  margin-bottom: 8px;

  &-text {
    padding: 0px;
    margin: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  &-color {
    width: 25px;
    height: 8px;

    border-radius: 10px;

    margin-bottom: 5px;

    &-red {
      background-color: red;
    }

    &-green {
      background-color: #28a745;
    }

    &-yellow {
      background-color: #ffc107;
    }

    &-blue {
      background-color: #007bff;
    }
  }
}
