.listHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  margin-right: 10px;

  &-title {
    color: #000;
    margin-left: 0;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
  }
}
